<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <%= render 'shared/error_messages', model: @board %>
      <%= render 'form', { board: @board } %>
    </div>
  </div>
</div>
    